@charset "UTF-8";
@font-face {
  font-family: 'Socialico';
  src: url("fonts/Socialico.eot");
  src: local("Socialico"), url("fonts/Socialico.woff") format("woff"), url("fonts/Socialico.ttf") format("truetype"), url("fonts/Socialico.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '232MKUL_';
  src: url("fonts/232MKUL_.eot");
  src: local("☺"), url("fonts/232MKUL_.woff") format("woff"), url("fonts/232MKUL_.ttf") format("truetype"), url("fonts/232MKUL_.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '232MKM__';
  src: url("fonts/232MKM__.eot");
  src: local("☺"), url("fonts/232MKM__.woff") format("woff"), url("fonts/232MKM__.ttf") format("truetype"), url("fonts/232MKM__.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '232MKL__';
  src: url("fonts/232MKL__.eot");
  src: local("☺"), url("fonts/232MKL__.woff") format("woff"), url("fonts/232MKL__.ttf") format("truetype"), url("fonts/232MKL__.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Plak LT BlackCondensed';
  src: url("fonts/plak/hinted-PlakLT-BlackCondensed.eot");
  src: url("fonts/plak/hinted-PlakLT-BlackCondensed.eot?#iefix") format("embedded-opentype"), url("fonts/plak/hinted-PlakLT-BlackCondensed.woff2") format("woff2"), url("fonts/plak/hinted-PlakLT-BlackCondensed.woff") format("woff"), url("fonts/plak/hinted-PlakLT-BlackCondensed.ttf") format("truetype");
}

h3 {
  font-family: '232MKM__' !important;
  text-transform: uppercase;
}

iframe {
  padding: 0;
  display: block;
}

body {
  background-color: #e5eacf;
}

.breadcrumb h3, .current-menu-item a {
  background-color: #a3154d;
}

.current-menu-item a {
  background-color: #760f38;
}

.fb-comments,
.fb_iframe_widget,
.fb_iframe_widget iframe[style],
.fb_iframe_widget span[style] {
  width: 100% !important;
}

.top-navigation a {
  color: #000000;
  font-family: "232MKM__" !important;
  text-transform: uppercase;
}

.featuredBG {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

span.normal {
  color: rgba(255, 255, 255, 0.7);
}

.wpcf7-form {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.wpcf7-form > p {
  padding: 0;
  margin: 0;
}

.wpcf7-form > p .ajax-loader {
  margin: 0;
  float: right;
  position: relative;
  top: 8px;
}

.wpcf7-form .wpcf7-response-output {
  margin: 15px 0 0;
}

.wpcf7-form .wpcf7-mail-sent-ok {
  margin-top: 0 !important;
}

ol.miniaturas {
  list-style: none;
  display: table;
  width: 100%;
  margin: 0;
  padding: 0;
}

ol.miniaturas li {
  display: table-cell;
  vertical-align: middle;
}

ol.miniaturas li a {
  display: block;
}

ol.miniaturas li a img {
  width: 30%;
  margin: 0 !important;
}

.breadcrumb {
  position: relative;
}

.breadcrumb #sharing {
  font-family: "232MKM__" !important;
  position: absolute;
  right: 35px;
  bottom: 20px;
}

.breadcrumb #sharing .sharrre .box {
  background: #e5397d;
  color: #FFF;
  height: 22px;
  display: inline-block;
  position: relative;
  padding: 0 12px 0 8px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 12px;
  float: left;
  clear: both;
  overflow: hidden;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.breadcrumb #sharing .sharrre .left {
  line-height: 22px;
  display: block;
  white-space: nowrap;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background-image: url("images/cc/share.png");
  background-repeat: no-repeat;
  background-position: 0 5px;
  padding-left: 20px;
  border-radius: 3px;
}

.breadcrumb #sharing .sharrre .middle {
  position: absolute;
  height: 22px;
  top: 0;
  right: 0;
  width: 0;
  text-shadow: 0 -1px 1px #363f49;
  color: #fff;
  background: #63003f;
  white-space: nowrap;
  text-align: left;
  overflow: hidden;
  -webkit-box-shadow: -1px 0 1px rgba(255, 255, 255, 0.4), 1px 1px 2px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: -1px 0 1px rgba(255, 255, 255, 0.4), 1px 1px 2px rgba(0, 0, 0, 0.2) inset;
  box-shadow: -1px 0 1px rgba(255, 255, 255, 0.4), 1px 1px 2px rgba(0, 0, 0, 0.2) inset;
  -webkit-transition: width 0.3s linear;
  -moz-transition: width 0.3s linear;
  -o-transition: width 0.3s linear;
  transition: width 0.3s linear;
}

.breadcrumb #sharing .sharrre .middle a {
  font-weight: bold;
  padding: 0 9px;
  text-align: center;
  float: left;
  line-height: 22px;
  -webkit-box-shadow: -1px 0 1px rgba(255, 255, 255, 0.4), 1px 1px 2px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: -1px 0 1px rgba(255, 255, 255, 0.4), 1px 1px 2px rgba(0, 0, 0, 0.2) inset;
  box-shadow: -1px 0 1px rgba(255, 255, 255, 0.4), 1px 1px 2px rgba(0, 0, 0, 0.2) inset;
}

.breadcrumb #sharing .sharrre .right {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 45px;
  text-align: center;
  line-height: 22px;
  background: #63003f;
  border-radius: 3px;
}

.breadcrumb #sharing .sharrre .box:hover {
  padding-right: 90px;
  background-color: #FFF;
  color: #63003f;
}

.breadcrumb #sharing .sharrre .box:hover .right {
  background: #FFF;
}

.breadcrumb #sharing .sharrre .middle a:hover {
  text-decoration: none;
  color: #63003f;
  background: #FFF;
}

.breadcrumb #sharing .sharrre .box:hover .middle {
  width: 85px;
}

.footer-wrap {
  background: rgba(0, 0, 0, 0.2);
}

.header-image {
  overflow: hidden;
  height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.header-image h1 {
  text-align: right;
}

.header-image h1 a {
  display: inline-block;
}

.header-image h1 a img {
  height: 70%;
  margin-top: 65px;
}

.header-image .depth {
  display: block;
  padding: 50px;
  color: black;
  font: bold 7em Arial, sans-serif;
  position: relative;
}

.header-image .depth:after,
.header-image .depth:before {
  content: attr(title);
  padding: 50px;
  color: rgba(255, 255, 255, 0.1);
  position: absolute;
}

.header-image .widget_ci_social_widget {
  position: absolute;
  bottom: 0;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.3);
  height: 55px;
}

.header-image .widget_ci_social_widget h3 {
  margin-bottom: 0;
  padding: 3px 5px;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.header-image .widget_ci_social_widget .widget-content {
  padding: 0;
  background: none;
  margin: 0 0 9px 13px;
  position: relative;
  top: 22px;
  margin-right: 8px;
}

.header-image .widget_ci_social_widget .widget-content a {
  font-family: 'Socialico';
  font-size: 50px;
  color: #63003f;
  font-family: 'Socialico';
  position: relative;
}

.header-image .widget_ci_social_widget .widget-content a:hover {
  color: #fff;
  text-shadow: 0 0 5px #666;
}

.header-image .widget_ci_social_widget .widget-content a:after, .header-image .widget_ci_social_widget .widget-content a:before {
  color: rgba(255, 255, 255, 0.1);
  position: absolute;
}

.header-image .widget_ci_social_widget .widget-content a:before {
  top: 1px;
  left: 1px;
}

.header-image .widget_ci_social_widget .widget-content a:after {
  top: 2px;
  left: 2px;
}

.sf-menu a {
  font-size: 15px;
}

.current-menu-item a,
.sf-menu a:hover,
.sf-menu li.current-menu-item li a:hover {
  box-shadow: none !important;
}

.btn,
.btn-reply,
.comment-reply-link,
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  color: #FFF !important;
  background: #63003f;
  font-family: "232MKM__" !important;
  border-radius: 3px;
  font-weight: lighter;
  line-height: 15px;
  font-size: 13px;
  text-transform: lowercase;
  border: none !important;
}

.btn:hover,
.btn-reply:hover,
.comment-reply-link:hover,
button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  color: #FFF !important;
}

.btn.big,
.btn-reply.big,
.comment-reply-link.big,
button.big,
html input[type="button"].big,
input[type="reset"].big,
input[type="submit"].big {
  font-size: 14px;
}

.btn.big:hover,
.btn-reply.big:hover,
.comment-reply-link.big:hover,
button.big:hover,
html input[type="button"].big:hover,
input[type="reset"].big:hover,
input[type="submit"].big:hover {
  color: #63003f !important;
  background: #FFF;
}

.section-title {
  display: block;
  font-size: 20px;
  margin: 0 0 10px;
  line-height: 1;
  font-weight: normal;
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 10px;
}

#paging > div a {
  background: #63003f;
  color: #FFF !important;
  padding: 10px 20px;
  display: block;
  font-size: 18px;
}

#paging > div a:hover {
  background: #FFF;
  color: #63003f !important;
}

.home-box,
.rslides-container {
  background-color: #FFF;
  position: relative;
  margin-bottom: 10px;
}

.home-box iframe,
.rslides-container iframe {
  width: 100%;
}

.home-box .rslides,
.rslides-container .rslides {
  height: 250px;
}

.home-box .rslides a,
.rslides-container .rslides a {
  display: block;
  height: 100%;
  border: none;
  background-position: center;
  background-size: cover;
}

.home-box .rslides a h3,
.rslides-container .rslides a h3 {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px 15px;
}

.home-box .rslides li,
.rslides-container .rslides li {
  height: 100%;
}

.home-box ul.rslides_tabs,
.rslides-container ul.rslides_tabs {
  margin: 0 auto;
  padding: 0;
  width: auto;
  position: absolute;
  top: -14px;
  right: 8px;
  z-index: 100;
}

.home-box ul.rslides_tabs li,
.rslides-container ul.rslides_tabs li {
  display: inline-block;
  list-style: none;
  height: 100%;
}

.home-box ul.rslides_tabs li a,
.rslides-container ul.rslides_tabs li a {
  color: transparent;
  text-decoration: none;
  font-size: 0;
  display: block;
  width: 8px;
  height: 7px;
  margin: 0 1px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #d6d6d6;
  border: none;
}

.home-box ul.rslides_tabs li.rslides_here a,
.rslides-container ul.rslides_tabs li.rslides_here a {
  background-color: #63003f;
}

.widget_discos > .widget-content {
  background: none;
}

.widget_discos > .widget-content > .widget-content {
  margin-bottom: 10px;
}

.widget h3 {
  display: block;
  color: #FFF;
  background-color: #a3154d;
  padding: 10px;
}

.widget .widget-content {
  padding: 0;
}

.widget .widget-content .widget-content {
  position: relative;
}

.widget .widget-content .widget-content .wp-post-image {
  display: block;
  min-height: 100px;
}

.widget .widget-content .widget-content .feature {
  position: relative;
  display: block;
  border: none;
  margin: -10px -10px 10px;
}

.widget .widget-content .widget-content .feature img {
  margin-bottom: 0;
}

.widget .widget-content .widget-content .album-info {
  padding: 10px;
}

.widget .widget-content .widget-content .event-date {
  background-color: rgba(53, 53, 53, 0.9);
}

.widget .widget-content .widget-content .event-date p {
  margin-bottom: 0;
  text-transform: uppercase;
}

.widget .widget-content .widget-content .event-info {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}

.widget .widget-content img {
  display: block;
  margin-bottom: 10px;
}

.widget .widget-content .btn {
  margin-top: 10px;
}

.widget .widget-content .table {
  display: table;
  width: 100%;
}

.widget .widget-content .table .cell {
  display: table-cell;
  float: none;
  vertical-align: middle;
}

.widget .widget-content .table .cell.last {
  width: 100%;
}

.widget .widget-content .table .row {
  display: table-row;
}

.widget.widget_newsletterwidget .widget-content {
  background-color: none;
  padding: 10px;
}

.widget.widget_newsletterwidget .widget-content p {
  margin: 0;
}

.widget.widget_newsletterwidget .widget-content p:first-child {
  margin-bottom: 8px;
}

.widget.widget_newsletterwidget .widget-content form {
  margin: 0;
}

.widget.widget_eventos > .widget-content {
  background: none;
}

.widget.widget_eventos > .widget-content > .widget-content {
  margin-bottom: 10px;
}

.widget.widget_eventos > .widget-content > .widget-content:last-child {
  margin-bottom: 0;
}

.widget.widget_ci_discography_widget img {
  margin: 0;
  display: block;
}

.widget.mapBox > .widget-content > .widget-content .mapContainer {
  width: 100%;
  height: 300px;
  display: block;
}

.widget.mapBox > .widget-content > .widget-content > .foto-lugar {
  display: block;
}

.widget.mapBox > .widget-content > .widget-content > .foto-lugar > img {
  margin-top: 10px;
  margin-bottom: 0;
}

.discFeature {
  position: relative;
  display: block;
  border: none;
}

.discFeature img {
  margin-bottom: 0;
}

.player {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.3);
}

.player .play {
  height: 25px;
  width: 25px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("images/cc/play.png");
}

.player .play.playing {
  background-image: url("images/cc/pause.png");
}

.marginTop {
  margin-top: 10px;
}

.post-body a {
  color: #000;
}

.content a {
  color: #000;
}

.shop {
  width: 100%;
  height: 900px;
}

#godlabcc {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

#flickr_title {
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: right;
}

#flickr_content {
  overflow: hidden;
}

#flickr_content img {
  width: 21%;
  margin: 2%;
  float: left;
}

#flickr_content a {
  margin-top: 15px;
  display: block;
}

#flickr_content a > div {
  display: none;
  float: right;
  height: 50px;
  position: relative;
  top: -15px;
  padding: 5px;
  background-color: #00ccff;
}

#flickr_content a > div:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

#flickr_content a > div img {
  width: 100%;
}

.content a {
  border: none !important;
}

.post-featured img {
  width: 100%;
}

.lista_de_redes {
  display: table;
  width: 100%;
  height: 46px;
  background-color: #a3154d;
}

.lista_de_redes a {
  display: table-cell;
  font-family: 'Socialico';
  color: #FFF;
  font-family: 'Socialico';
  position: relative;
  text-align: center;
}

.lista_de_redes a span {
  font-size: 50px;
  display: block;
  height: 63px;
}

.lista_de_redes a:hover {
  color: #a3154d;
}

.lista_de_redes:hover {
  background-color: #FFF;
}

.lista_de_redes:hover a {
  text-shadow: 0 0 5px #000;
}

.lista_de_redes:hover a:hover {
  text-shadow: none;
}

.post-type-archive-artistas li .widget-content {
  padding: 0;
}

.post-type-archive-artistas li .widget-content .full_image img {
  margin: 0;
}

.post-type-archive-artistas li.Visual div {
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.post-type-archive-artistas li.Visual div:hover {
  background-color: #86ccee;
}

.post-type-archive-artistas li.Banda div {
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.post-type-archive-artistas li.Banda div:hover {
  background-color: #9a90c7;
}

.fluid-container {
  -webkit-column-count: 4;
  -webkit-column-gap: 0;
  -webkit-column-fill: auto;
  -moz-column-count: 4;
  -moz-column-gap: 0;
  -moz-column-fill: auto;
  column-count: 4;
  column-gap: 0;
  column-fill: auto;
}

.fluid-container li {
  width: 100% !important;
  float: none;
  padding-bottom: 30px;
  margin-bottom: 0;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
}

.fluid-container li .album-info {
  padding: 10px;
}

.post-type-archive-discos .widget-content {
  padding: 0;
}

.post-type-archive-discos .widget-content .discFeature img {
  margin: 0;
}

.post-type-archive-discos .widget-content .album-info {
  padding: 10px;
}

.post-type-archive-eventos .widget-content {
  padding: 0;
}

.post-type-archive-eventos .widget-content .discFeature img {
  margin: 0;
}

.post-type-archive-eventos .widget-content .album-info {
  padding: 10px;
}

.post-type-archive-eventos .album-info {
  display: table;
  width: 100%;
}

.post-type-archive-eventos .album-info .cell {
  display: table-cell;
  float: none;
  vertical-align: middle;
}

.post-type-archive-eventos .album-info .cell:first {
  width: 100%;
}

.post-type-archive-eventos .album-info .event-date {
  background-color: rgba(0, 0, 0, 0.5);
}

.post-type-archive-eventos .album-info .event-date p {
  margin: 0;
}
